<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloCordova</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="http://localhost:8001/www/login.html" />  <!-- Point de départ modifié -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <access origin="http://192.168.1.100:8002" /> <!-- Retirer si non nécessaire -->
    <access origin="*" /> <!-- Permettre l'accès à toutes les origines, à utiliser avec prudence -->
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="http://localhost:8001/*" />  <!-- Ajout spécifique pour votre URL -->

    <preference name="hostname" value="localhost" />
</widget>