/* Menu */

.bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #cfb69b;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
}

.bottom-nav a {
    flex-grow: 1;
    text-align: center;
    padding: 10px 0;
    color: #543612;
    text-decoration: none;
    font-size: 16px;
}

.bottom-nav .icon {
    display: block;
    margin: 0 auto 5px;
    font-size: 20px;
}